body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(200, 200, 255);
    color: rgb(10, 45, 247);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: grid;
    place-items: center;
    overflow: hidden;
}

#container .cell{
    width: 90px;
    height: 90px;
    font-size: 3rem;
    display: grid;
    place-items: center;
    border: 2px solid #72aefc;
    background-color: aliceblue;
    float: left;
    margin: 1px;

    
}


#container{
    width: 300px;
    text-align: center;
    margin-top: -10%;
}

#resultado{
    position: relative;
    margin-top: -10%;
    height: 1rem;
}

#Reiniciar{
    width: 180px;
    height: 80px;
    margin-top: -10%
}


#titulo{
    text-align: center;
}